<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.8"/>
    <title>登录 - ${system_title} - ${system_version}</title>
    <!--<@nothing>-->
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <link rel="stylesheet" type="text/css" href="css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="jquery-validation-1.17.0/jquery.validate.js"></script>
    <script type="text/javascript" src="jquery-validation-1.17.0/additional-methods.js"></script>
    <script type="text/javascript" src="jquery-validation-1.17.0/localization/messages_zh.js"></script>
    <script type="text/javascript" src="layui/layui.all.js"></script>
    <script type="text/javascript" src="js/circle.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <!--</@nothing>-->
    <!--${'--' + '>'}
    <link rel="stylesheet" type="text/css" href="${base_url}/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="${base_url}/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="${base_url}/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="${base_url}/font-awesome/css/font-awesome.min.css"/>
    <link rel="icon" type="image/x-icon" href="${base_url}/favicon.ico"/>
    <script type="text/javascript" src="${base_url}/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="${base_url}/js/jquery.form.js"></script>
    <script type="text/javascript" src="${base_url}/jquery-validation-1.17.0/jquery.validate.js"></script>
    <script type="text/javascript" src="${base_url}/jquery-validation-1.17.0/additional-methods.js"></script>
    <script type="text/javascript" src="${base_url}/jquery-validation-1.17.0/localization/messages_zh.js"></script>
    <script type="text/javascript" src="${base_url}/layui/layui.all.js"></script>
    <script type="text/javascript" src="${base_url}/js/circle.js"></script>
    <script type="text/javascript" src="${base_url}/js/login.js"></script>
    <!---->
    <script>
        if (parent !== window) {
            parent.location.replace(location.href);
        }
    </script>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <div class="login-panel" style="background-color: #FFF">
      <div class="animation">
        <div class="tou"></div>
        <div id="left-hand" class="initial-left-hand"></div>
        <div id="right-hand" class="initial-right-hand"></div>
      </div>
      <div class="loading" style="cursor: pointer;">
        <div class="container">
          <div class="gearbox">
            <div class="overlay"></div>
            <div class="gear one">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear two">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear three">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="gear four large">
              <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
          </div>
          <h1 class="text">Loading...</h1>
        </div>
      </div>
      <div class="login">
        <form class="layui-form login">
          <table cellpadding="0" border="0" width="100%">
            <tr>
              <th valign="middle">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
              </th>
              <td valign="middle">
                <br>
                <input type="text" name="username" required maxlength="15" autocomplete="off" placeholder="请输入用户名" class="layui-input username">
                <br>
              </td>
            </tr>
            <tr>
              <th valign="middle">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </th>
              <td valign="middle">
                <br>
                <input type="password" name="password" required maxlength="15" autocomplete="off" placeholder="请输入密码" class="layui-input password">
                <br>
              </td>
            </tr>
            <tr>
              <td valign="middle" colspan="2">
                <br>
                <input type="submit" value="登录" class="layui-btn layui-btn-normal">
                <br>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <script>

        var baseUrl = /*<@nothing>*/'http://localhost:2018/dict'/*</@nothing>${'*' + '/'}'${base_url}'/**/;

        !function () {
            this.models = ['element', 'layer', 'form', 'table', 'code'];
            this.loadLayui = function () {
                $.each(models, function (index, value) {
                    window[value] || (window[value] = layui[value]);
                });

                layer && layer.config({
                    title: false,
                    resize: false,
                    move: false,
                    closeBtn: 2,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
            };
            this.loadLayui();
        }();

        $('form.login').validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 15,
                    pattern: /^[_0-9A-Za-z]+$/
                },
                username: {
                    required: true,
                    minlength: 6,
                    maxlength: 15,
                    pattern: /^[_a-zA-Z0-9\u4e00-\u9fa5\ufe30-\uffa0]+$/,
                    remote: baseUrl + '/user/username_exists.json'
                }
            },
            messages: {
                password: {
                    required: '密码不能为空',
                    minlength: '密码不能少于6个字符',
                    maxlength: '密码不能多于15个字符',
                    pattern: '密码中存在非法字符'
                },
                username: {
                    required: '用户名不能为空',
                    minlength: '用户名不能少于6个字符',
                    maxlength: '用户名不能多于15个字符',
                    pattern: '用户名中存在非法字符',
                    remote: '用户名不存在'
                }
            },
            errorPlacement: function () {},
            showErrors: function (errorMap, errorList) {
                if (errorList.length > 0) {
                    var error = errorList[0].message;
                    var element = $(errorList[0].element);
                    layer.tips(error, element, {
                        anim: 6,
                        success: function () {
                            setTimeout(function () {
                                element.css('border-color', '#FF0033');
                            }, 200);
                        },
                        end: function () {
                            element.css('border-color', '');
                        }
                    });
                }
            },
            focusInvalid: false,
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            submitHandler: function () {
                var username = $('.username').val();
                var password = $('.password').val();
                $.ajax({
                    url: baseUrl + '/user/verify.json',
                    type: 'post',
                    data: {
                        username: username,
                        password: password
                    },
                    success: function (result) {
                        if (result) {
                            localStorage.removeItem('password');
                            location.replace(baseUrl + "/");
                        } else {
                            layer.alert('密码错误！', {icon: 2});
                        }
                    }, error: function (request) {
                        var result = JSON.parse(request.responseText);
                        layer.alert(result.message, {
                            icon: 2,
                            title: result.status
                        });
                    }
                });
                return false;
            }
        });
    </script>
    <script>
        var redirected = false;
        var id = setInterval(function () {
            $.ajax({
                type: 'get',
                url: baseUrl + '/ping',
                success: function (data, s) {
                    (!redirected) && (redirected ^= true) && !function () {
                        /*<@nothing>*/ location.replace(baseUrl + "/"); /*</@nothing>*/
                        setTimeout(function () {
                            $('div.loading').fadeOut(function () {
                                $('div.login').fadeIn();
                            });
                        }, 3000);
                    }();
                    clearInterval(id);
                }
            });
        }, 1000);
    </script>
  </body>
</html>
