<?xml version="1.0" encoding="UTF-8"?>
<!--
  logback 配置 - default
-->
<configuration>
  <springProperty scope="context" name="console_pattern" source="dict.system.logback_console_pattern"/>
  <springProperty scope="context" name="file_pattern" source="dict.system.logback_file_pattern"/>
  <springProperty scope="context" name="encoding" source="file.encoding"/>

  <!-- 向控制台输出日志 -->
  <appender name="console-debug" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${console_pattern}</pattern>
      <charset>${encoding}</charset>
    </encoder>
  
    <!--过滤器-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <!-- 最小级别 -->
      <param name="levelMin" value="DEBUG"/>
      <!-- 最大级别 -->
      <param name="levelMax" value="ERROR"/>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  
  <appender name="console-error" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${console_pattern}</pattern>
      <charset>${encoding}</charset>
    </encoder>
    
    <!--过滤器-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <!-- 最小级别 -->
      <param name="levelMin" value="FATAL"/>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <!-- 向文件输出配置 -->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${file_pattern}</pattern>
      <charset>${encoding}</charset>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/dict_%d{yyyy-MM-dd}~%i.txt</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>1MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>

  <root level="WARN">
    <appender-ref ref="console-debug"/>
    <appender-ref ref="file"/>
  </root>

  <logger name="com.benzolamps.dict" level="DEBUG" additivity="true"/>
  <logger name="org.hibernate.orm.deprecation" level="ERROR"/>
  <logger name="org.apache.catalina.core.ContainerBase" level="OFF"/>
</configuration>